# build files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# optimize files
Optimize?/
MyRunMessenger.hh
MyRunMessenger.cc


# compiled objects
*.o
*.so
*.a

# executables
*.exe
*.out

# Geant4 output
*.root

# editor
.vscode/
